.informacao{
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.menu{
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}
.menu a{
    font-size: 1.25rem;
    display: block;
    padding: 6px 12px;
    color: var(--cor-0);
}
.menu a:hover{
    background-color: #2c43c655;
    border-radius: 5px;
}
@media(max-width:500px){
    .informacao{
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .menu {
        gap: 10px;
        padding: 10px;
    }
    .menu div {
        display: block;
        margin: auto;
    }
    .menu ul {
       justify-content: center;
    }

}