.font-titulo-1{
    font: 700 3rem/1.3 'Nunito', sans-serif;
}
.font-titulo-2{
    font: 700 2.25rem/1.3 'Nunito', sans-serif;
}
.font-texto-1{
    font: 400 1rem/1.3 'Nunito', sans-serif;
}
.font-texto-2{
    font: 400 1.25rem/1.3 'Nunito', sans-serif;
}

@media(max-width:780px){
    .font-titulo-1{
        font-size: 2.6rem;
    } 
    .font-titulo-2{
        font-size: 1.8rem;
    }
}
@media(max-width:600px){
    .font-titulo-1, .font-texto-1, .font-texto-2{
       text-align: center;
    } 
    .font-titulo-2{
        text-align: center;

    }
}
@media(max-width:550px){
    .font-titulo-1{
        font-size: 2.4rem;
    } 
    .font-titulo-2{
        font-size: 1.5rem;
    }
}